@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#root
  margin: 20px
  @media (max-width: 480px)
    margin: 10px

#footer
  margin-top: 20px
  font-family: calibri
  font-size: 12px

#widget
  width: 100%
  max-width: 800px
  padding: 10px

#result
  margin-top: 10px
  font-size: 1.2em

#loading
  width: 100%
  height: 70px
  background: url(loading.gif) center center no-repeat
#palettes
  margin-top: 10px
  padding-top: 10px
  border-top: 1px solid #ccc
.item
  position: relative
  .img
    width: 48px
    height: 48px
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    display: inline-block
    border: 1px solid #ccc
    margin: 3px
  .palette
    position: absolute
    width: 100%
    left: 0
    display: inline-block
    padding-left: 53px
.color
  height: 48px
  display: inline-block
  margin: 3px
  width: 12%
  font-family: calibri
  font-size: 12px
  padding: 3px 0 0 6px
  text-shadow: 0 1px 2px rgba(0,0,0,0.1)
  @media (max-width: 480px)
    width: 11%

@media (max-width: 480px)
  h3
    font-size: 22px
    font-weight: bold
    letter-spacing: -0.5px
    text-align: center

.loadingio-link
  position: relative
  top: 14px
  left: 3px
  font-size: 12px
