doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var use = { cdn: false, og: true, favicon: true }
- var lib = { jquery: true, d3js: false, angular: false, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "thumbnail.jpg"
- var favicon = "favicon.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Keyword Coloring / infographics.tw
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="color-thief.min.js")
    script(type="text/javascript",src="tinycolor.js")
    script(type="text/javascript",src="code.js")
  body
    #root
      h3 關鍵字上色！使用 Google 圖片搜尋
      p 
        | 利用 Google 圖片搜尋來計算關鍵字的顏色。使用 
        a(href="https://github.com/lokesh/color-thief/") Color Thief
        |  , 
        a(href="https://images.google.com/") Google Image Search
        |  , 
        a(href="http://crossorigin.me/") crossorigin.me
      #widget
        .form
          .input-group
            input#keyword.form-control(type="text",placeholder="想要找的關鍵字, 例如: 香蕉、王小明",onkeypress="keylisten()")
            span.input-group-btn
              .btn.btn-default(onclick="search()") 產生色票
          #result
          #palettes
          #loading
        hr
        .row(style="height:70px")
          .col-sm-6.text-center
            .fb-box
              .fb-like-box(data-href="https://www.facebook.com/data.visualize",data-colorscheme="light",
                data-show-faces="false",data-header="false",data-stream="false",data-show-border="false")
          .col-sm-6.text-center
            .fb-like-link(style="margin-top:30px")
              .fb-like(data-href="http://data.infographics.tw/viz/keyword-coloring/",data-width="300",data-layout="standard",data-action="like",data-show-faces="true",data-share="true")

      #footer
        a(href="http://github.com/infographicstw/keyword-coloring") source code
        |  / License: MIT License
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=1587437048209186&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);

      }(document, 'script', 'facebook-jssdk'));</script>
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59333798-1', 'auto');
      ga('send', 'pageview');
